.imgbk{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Rubik_cube.png/1024px-Rubik_cube.png");
	background-size: 10%;
	background-position: left;
	border-radius: 15px;
	background-repeat: no-repeat;
	}	
